 
#clock {
  font-family: "Courier New", Courier, monospace;
  font-size: 175px;
  width: 950px;
  margin: 150px;
  text-align: center;
  justify-content: center;
}

.dark {
  color: white;
  background-color: rgb(0, 0, 0);
}

.light {
  background-color: rgb(255, 255, 255);
  color: black;
}
